nav {
            background-color: #0a0404;
            padding: 15px;
            text-align: center;
            
        }
        nav a {
            color: rgb(232, 229, 229);
            text-decoration:none;
            margin: 0 10px;
           
          
        }
        nav a:hover {
            color: #c452aa;
        }
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;}
             th, td {
            border: 1px solid #a16c6c;
            padding: 8px;
            text-align: left;
        }
        tr:hover {
            background-color: #b67f7f;
        }
