/* Reset */
body {
    margin: 0;
    padding: 0;
    background-color: #efcece;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #f9dcdc;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(242, 231, 231, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
   
}

.navbar a {
    text-decoration: none;
    color: #ab9f9f;
    transition: background-color 0.3s, color 0.3s;
}
body{ margin: 0; padding: 0; background: #ccc;
}
nav#topmenu ul {
    list-style: none;
    background: #c1abab;
    text-align: center;
    padding: 0;
    margin: 0;

}
nav#topmenu li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
    
}
nav#topmenu a {
    text-decoration: none;
    color: #fff;
    
}
nav#topmenu:hover {
    background-color: rgb(225, 225, 200);
    font-weight: bold;
    color: rgb(236, 200, 200);
}
