/* Toàn trang */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #c1c3d9;
    margin: 0;
    padding: 20px;
}

/* Table */
table {
    background:#c1add5(203, 157, 183);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Tựa đề */
h2 {
    margin: 0;
    padding-bottom: 10px;
}

/* Các ô input */
input[type="text"], select {
    width: 150px;
    padding: 6px;
    border: 1px solid #d1b4ce;
    border-radius: 4px;
}

/* Result */
#result {
    padding: 8px 12px;
    background: #bc7b79;
    border-radius: 4px;
    border: 1px solid #c48ad6;
    min-width: 150px;
}

/* Nút bấm */
input[type="button"] {
    padding: 8px 15px;
    background: #98a0b8;
    color: rgb(168, 155, 155);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background: #a3c2e9;
}

